[Desktop Entry]
X-SnapInstanceName=teams-ew
Name=Microsoft Teams
X-SnapAppName=teams-ew
Exec=teams-ew
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/teams-ew.png
StartupWMClass=teams-ew
Comment=Unofficial Electron wrapper for Microsoft Teams, built for Linux desktop.
Categories=Utility;
